@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

.App {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

img {
  position: absolute;
  z-index: 1;
}

.eth-logo {
  margin-top: 10px;
  margin-left: -145px;
  width: 20%;
}

.approve-field {
  padding-bottom: -50px;
}

.approve-button {
  margin-bottom: 10px;
  margin-right: -10px;
}

.metamask-message {
  font-size: 1.1em;
  font-weight: 600;
  margin-left: -90px;
  margin-top: -14px;
  color: #173764;
}

h1 {
  position: absolute;
  z-index: 1;
  font-family: "Libre Franklin", sans-serif;
}

.exchange-form {
  position: absolute;
  z-index: 1;
  margin-top: 285px;
  margin-left: 355px;
}

.rates {
  margin-left: -48px;
}

.getting-started {
  position: absolute;
  z-index: 1;
  margin-top: 470px;
  margin-left: 345px;
  width: 580px;
  color: #173764;
  font-family: "Libre Franklin", sans-serif;
}

.material-icons {
  color: #5889AF;
}

.md-floating-label {
  color: #5889AF;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.md-btn {
  margin-left: 20px;
}

.md-divider {
  color: #5889AF !important;
  width: 110px;  
}

.panel {
  background: transparent;
}

.prompt {
  margin-left: 40px;
  margin-top: -50px;
}

p {
  color: #173764;
  font-family: "Libre Franklin", sans-serif;
}

.md-text {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2em;
  color: #173764;  
}

.field-with-button {
  display: flex;
}

.confirm-button {
  margin-top: 36px;
}

.account-details {
  display: flex;
  justify-content: center;
}

.account-balance {
  color: #173764;
  margin-top: 265px;
  font-size: 1.7em;
}

.locked {
  margin-right: -20px;
}

.unlocked {
  margin-left: -10px;
}
