@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import 'mixins';

.App {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

img {
  position: absolute;
  z-index: 1;
}

.eth-logo {
  width: 35%;
  margin-top: 50px;
  margin-left: 13px;

  @include respond-to(big-tablet) {
    width: 28%;
    margin-top: 25px;
    margin-left: -120px;
  }

  @include respond-to(small-desktop) {
    width: 23.5%;
    margin-left: -130px;
  }

  @include respond-to(medium-desktop) {
    width: 20.5%;
  }

  @include respond-to(desktop) {
    margin-top: 15px;
    width: 250px;
  }
}

.md-text-field-container {
  width: 50%;
}

.account-balance {
  color: #173764;
  margin-top: 360px;
  font-size: 1.7em;
  width: 140%;

  @include respond-to(big-tablet) {
    width: 100%;
    margin-top: 320px;
  }
}

h1 {
  position: absolute;
  z-index: 1;
  font-family: "Libre Franklin", sans-serif;
}

.field-with-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-button {
  margin-top: 20px;
}

.exchange-form {
  position: absolute;
  z-index: 1;
  display: flex;
  left: 0;
  right: 0;
  margin-top: 410px;
  margin-right: -150px;
  padding-left: 120px;

  @include respond-to(big-tablet) {
    padding-left: 0px;
    margin-right: 0px;
    margin-top: 355px;
    left: 20%;
    right: 20%;
  }
}

.eth-block, .token-block {
  width: 200%;
}

.getting-started {
  position: absolute;
  z-index: 1;
  left: 32%;
  margin-top: 670px;
  margin-bottom: 30px;
  width: 580px;
  color: #173764;
  font-family: "Libre Franklin", sans-serif;

  @include respond-to(big-tablet) {
    left: 21%;    
    margin-top: 560px;
  }

  @include respond-to(small-desktop) {
    left: 24.5%;
  }

  @include respond-to(medium-desktop) {
    left: 27.5%;
  }

  @include respond-to(desktop) {
    left: 30%;
  }
}

.material-icons {
  color: #5889AF;
}

.prompt {
  left: 0;
  
  @include respond-to(small-desktop) {
    left: 4%;
    width: 100%;
  }

  @include respond-to(desktop) {
    left: 8%;
  }
}

.md-floating-label {
  color: #535f6b;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.panel {
  background: transparent;
}

p {
  color: #173764;
  font-family: "Libre Franklin", sans-serif;
}

.md-text {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2em;
  color: #173764;  
}
