@import '~react-md/src/scss/react-md';

$md-primary-color: #173764;
$md-secondary-color: #5889AF;

@include react-md-everything;

html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}

svg {
  // display: none;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  g {
    mix-blend-mode: lighten;
  }
  polygon {
    stroke: none;
    fill: white;
  }
}
