@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

.App {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

img {
  position: absolute;
  z-index: 1;
}

.eth-logo {
  margin-top: 80px;
  margin-left: -145px;
  width: 20%;
}

.metamask-message {
  font-size: 1.5em;
  margin-left: -110px;
  margin-top: 3px;
  color: #173764;
}

h1 {
  position: absolute;
  z-index: 1;
}

.exchange-form {
  position: absolute;
  z-index: 1;
  margin-top: 420px;
  margin-left: 450px;
}

.getting-started {
  position: absolute;
  z-index: 1;
  margin-top: 560px;
  margin-left: 435px;
  width: 580px;
  color: #173764;
}

.material-icons {
  color: #5889AF;
}

.md-floating-label {
  color: #5889AF;
}

.md-btn {
  margin-left: 20px;
}

.md-divider {
  color: #5889AF !important;
  width: 110px;  
}

.panel {
  background: transparent;
}

p {
  color: #173764;
}

.md-text {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2em;
  color: #173764;  
}

.field-with-button {
  display: flex;
}

.confirm-button {
  margin-top: 36px;
}

.account-balance {
  color: #173764;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 390px;
}
