@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

.App {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

img {
  position: absolute;
  z-index: 1;
}

.eth-logo {
  margin-top: 80px;
  margin-left: -145px;
  width: 20%;
}

.metamask-message {
  font-size: 1.5em;
  margin-left: -93px;
  margin-top: 10px;
  color: #173764;
}

h1 {
  position: absolute;
  z-index: 1;
}

.exchange-form {
  position: absolute;
  z-index: 1;
  margin-top: 420px;
  margin-left: 490px;
}

.field-with-button {
  display: flex;
}

.confirm-button {
  margin-top: 32px;
}

.account-balance {
  color: #173764;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 390px;
}
